.contents
  #example
    %h1.title
      Graph
    %hr.title_bar
  #form_contents
    .form_content
      %h1.title
        Question
      %hr.title_bar
      .form
        = select_tag 'gender', options_for_select([['男', 1], ['女', 2]])
        / = text_area_tag 'age', '', id: 'age_input'
        / = select_tag 'prefecture', options_from_collection_for_select(@prefectures, :id , :name)
        / = select_tag 'large_category', options_from_collection_for_select(@large_category, :id, :name)
#footer
  .footer_contents
    %b
      groupie ~ 自分を見失ったあなたへ
