!!!
%html(lang="ja")
  %head
    %meta{ content: 'text/html; charset=UTF-8', http: { equiv: 'Content-Type' } }/
    %script{ src: "http://d3js.org/d3.v3.min.js"}
    %meta{ charset: "utf-8"}
    %title Groupie
    = stylesheet_link_tag    'application', media: 'all', data: { turbolinks: { track: true } }
    = javascript_include_tag 'application', data: { turbolinks: { track: true } }
    = csrf_meta_tags
  %body
  = yield
